# Задание: предсказание на 2020 год
Возьмите данные по безработице в городе Москва:

video.ittensive.com/python-advanced/data-9753-2019-07-25.utf.csv

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

unemployed_df = pd.read_csv('https://video.ittensive.com/python-advanced/data-9753-2019-07-25.utf.csv', sep=';')
unemployed_df

,global_id,ID,Year,UnemployedMen,UnemployedWomen,UnemployedYoung,UnemployedDisabled,UnemployedTotal,Period,Unnamed: 9
0,39809862,1,2001,8896,25762,6696,824,34658,Декабрь,NaN
1,64592413,3,2003,8679,24967,6226,1155,33646,Декабрь,NaN
2,64592414,4,2004,9822,25239,7318,1411,35061,Декабрь,NaN
3,64592415,5,2005,10844,23597,6890,1531,34441,Декабрь,NaN
4,64592416,6,2006,11041,22928,6604,1671,33969,Декабрь,NaN
...,...,...,...,...,...,...,...,...,...,...
96,918869066,101,2019,13123,16904,3103,575,30027,Февраль,NaN
97,918869067,102,2019,13433,17164,3102,593,30597,Март,NaN
98,926094627,103,2019,13803,17319,3060,593,31122,Апрель,NaN
99,933200250,104,2019,12818,16221,2711,577,29039,Май,NaN
100,933200260,105,2019,12260,15769,2545,576,28029,Июнь,NaN

Сгруппируйте данные по годам, и, если в году меньше 6 значений, отбросьте эти годы.

In [2]:
cleaned_df = unemployed_df.groupby('Year').filter(lambda x: x['ID'].count() >= 6)
cleaned_df

,global_id,ID,Year,UnemployedMen,UnemployedWomen,UnemployedYoung,UnemployedDisabled,UnemployedTotal,Period,Unnamed: 9
10,64592422,13,2012,17906,23266,6237,1697,41172,Февраль,NaN
12,273573575,12,2012,18012,23806,6413,1734,41818,Январь,NaN
13,273573576,14,2012,17357,22485,5929,1659,39842,Март,NaN
14,273573577,15,2012,16886,21839,5777,1558,38725,Апрель,NaN
15,273573578,16,2012,15650,20411,5179,1449,36061,Май,NaN
...,...,...,...,...,...,...,...,...,...,...
96,918869066,101,2019,13123,16904,3103,575,30027,Февраль,NaN
97,918869067,102,2019,13433,17164,3102,593,30597,Март,NaN
98,926094627,103,2019,13803,17319,3060,593,31122,Апрель,NaN
99,933200250,104,2019,12818,16221,2711,577,29039,Май,NaN
100,933200260,105,2019,12260,15769,2545,576,28029,Июнь,NaN

Постройте модель линейной регрессии по годам среднего значения отношения UnemployedDisabled к UnemployedTotal (процента людей с ограниченными возможностями) за месяц и ответьте, какое ожидается значение процента безработных инвалидов в 2020 году при сохранении текущей политики города Москвы?
Ответ округлите до сотых. Например, 2,32

In [3]:
cleaned_df['percent_UnemployedDisabled'] = 100 * cleaned_df['UnemployedDisabled'] / cleaned_df['UnemployedTotal']
mean_series = cleaned_df.groupby('Year')['percent_UnemployedDisabled'].mean()
x = np.array(mean_series.index).reshape(-1, 1)
y = np.array(mean_series).reshape(-1, 1)
model = LinearRegression().fit(x, y)
(model.predict(np.array(2020).reshape(-1, 1)).flatten()[0]).round(2)

1.52